#app {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  color: #fff;
  width: 85%;
  margin: 50px 7.5%;
}
@media screen and (max-width: 1500px) {
  #app {
    display: flex;
    flex-direction: column;
  }
}
