#info-container {
  background-color: #ced0ce07;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  border: 2px solid #ced0c015;
  border-radius: 10px;
  height: 750px;
}

h1#country {
  margin: 30px 50px 60px 50px;
  font-size: 40px;
}

div#information {
  margin: 0 50px;
  line-height: 50px;
  font-size: 15px;
  word-wrap: break-word;
}

span {
  color: #f15025;
}

button#signout {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #f15025;
  color: #f15025;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  min-width: 100px;
  transition: 0.8s;
  margin: 50px 50px;
}
button#signout:hover {
  background-color: #f15025;
  color: #0a090c;
}

@media screen and (max-width: 1500px) {
  #info-container {
    height: auto;
  }
}
