#pictures-container {
  background-color: #ced0ce02;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  border: 1.5px solid #ced0c015;
  border-radius: 10px;
  height: 750px;
}
