#account-info-container {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  background-color: #ced0ce07;
  border: 2px solid #ced0c015;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  gap: 25px;
}
#account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
#profile-name {
  font-size: 30px;
}
button#signout {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #f15025;
  color: #f15025;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  min-width: 100px;
  transition: 0.8s;
}
button#signout:hover {
  background-color: #f15025;
  color: #0a090c;
}
