input {
  font-family: monospace;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #f15025;
  border-radius: 10px;
  height: 50px;
  width: 20vw;
  max-width: 750px;
  min-width: 200px;
  color: #f15025;
  text-align: center;
  margin: 0 50px;
}
input:focus {
  outline: none !important;
}
